body{
    background-color: #d9d9d9;
}

.cargos_section{
    background-color:  #bfbfbf;
    border-radius: 1em;
    padding: 20px;
    width: 80%;
    margin: 20px 0;
}

label{
    font-size: 1.2em;
}