{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/editarForm.css' %}">
</head>
<body>
    <div class="container">
        <div class="editarHeader">
            <h2>Editar Cargo.-</h2>
        </div>
        <div class="editarCampos">
            <form action="{% url 'restaurant:editarcargo' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" maxlength="50" name="car_nombre" class="form-control" placeholder="Nombre" value="{{cargo.car_nombre}}">
                </div>
                <div class="form-group">
                    <input type="text" maxlength="70" name="car_desc" class="form-control" placeholder="Descripcion" value="{{cargo.car_desc}}">
                </div>
                <button name="guardar" value="{{cargo.car_id}}" class="btn btn-outline-primary">Guardar Cambios</button>
            </form>
            <br/>
            <br/>
        </div>
        <a href="{% url 'restaurant:vercargos' %}" class="btn btn-outline-info">Volver a cargos</a>
    </div>
</body>
</html>