{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar categoria</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/gestionarCategoria.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Editar categoria.-</h1>
            </div>
            <div class="card-body">
                <form action="{% url 'restaurant:gestionarCategoria' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" maxlength="20" name="cat_nombre" value="{{cat.cat_nombre}}" class="form-control">
                    </div>
                    <button class="btn btn-warning" name="editarCategoria" value="{{cat.cat_id}}">Guardar cambios</button>
                </form>
            </div>
        </div>
        <br/><br/>
        <a href="{% url 'restaurant:gestionarCategoria' %}" class="btn btn-light">Cancelar</a>
        <br/>
    </div>
</body>
</html>