{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar almacen</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/eliminarPage.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'restaurant:gestionarAlmacen' %}" method="POST">
            {% csrf_token %}
            <div class="mensajeEliminar">
                <h2>Seguro que desea eliminar el almacen: {{alm.alm_nombre}} ?</h2>
                <div class="row justify-content-center">
                    <div class="col-md-auto"><button name="eliminarAlm" value="{{alm.alm_id}}" class="btn btn-outline-danger">Eliminar</button></div>
                    <div class="col-md-auto"><button name="cancelarEliminar" class="btn btn-outline-dark">Cancelar</button></div>
                </div>
                <br/>
                <label for="" style="color: red">{{msg}}</label>
            </div>
        </form>
    </div>
</body>
</html>