{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Pedidos</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/homeButton.css' %}">
    <link rel="stylesheet" href="{% static 'fontAwesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/gestionarPedido.css' %}">
</head>
<body>
    <div class="container">
        <div class="homeButtonContainer">
            <a href="{% url 'restaurant:home' %}"><img class="homeButtonImage"
                    src="{% static 'restaurant/restaurantIcon.jpg' %}" alt="Restaurante Los Abuelos"></a>
        </div>
        <form action="{% url 'restaurant:gestionarPedido' %}" method="POST">
            {% csrf_token %}
            <div class="gpedHeader">
                <h1>Gestionar Pedidos.-</h1>
                <p>Registrar nuevo pedido
                    <button name="registrarBtn" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i>
                    </button> <br/>
                    <button name="seleccionarReporte" class="btn btn-primary">
                        Ver reporte
                    </button>
                </p>
            </div>
            <div class="gpedBody">
                <h4>Pedidos body</h4>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Id</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Fecha</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Hora</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Opciones</h4>
                    </div>
                </div>
                {% for p in pedidos %}
                <div class="row">
                    <div class="col-md-3">
                        <label for="">{{p.ped_id}}</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">{{p.ped_fecha}}</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">{{p.ped_hora}}</label>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-info" name="verBtn" value="{{p.ped_id}}">Ver</button>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </form>
    </div>
</body>
</html>