{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar productos</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontAwesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/homeButton.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/gestProductos.css' %}">
</head>

<body>
    <div class="container">
        <div class="homeButtonContainer">
            <a href="{% url 'restaurant:home' %}"><img class="homeButtonImage"
                    src="{% static 'restaurant/restaurantIcon.jpg' %}" alt="Restaurante Los Abuelos"></a>
        </div>
        <form action="{% url 'restaurant:gestionarProducto' %}" method="POST">
            {% csrf_token %}
            <div class="gproductoHeader">
                <h1>Gestionar productos</h1>
                <p>Agregar nuevo producto
                    <button name="registrarBtn" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </p>
            </div>
            <div class="gproductoBody">
                <h3>Productos Existentes</h3> <br/>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Nombre</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Duracion en dias</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Opciones</h4>
                    </div>
                </div> <br/><br/>
                {% for p in productos %}
                <div class="row">
                    <div class="col-md-4">
                        <label for="">{{p.prod_nombre}}</label>
                    </div>
                    <div class="col-md-4">
                        <label for="">{{p.prod_duracion}}</label>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info" name="editarBtn" value="{{p.prod_id}}">
                            Editar
                        </button>
                        <button value="{{p.prod_id}}" class="btn btn-danger" name="eliminarBtn">
                            Eliminar
                        </button>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </form>
    </div>
</body>

</html>