{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Nota de Entrada</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/gestionarNE.css' %}">

    <script type="text/javascript" src="{% static 'bootstrap/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="registrarHeader">
            <h1>Nueva nota de entrada</h1>
        </div>
        <form action="{% url 'restaurant:gestionarNE' %}" method="POST">
            {% csrf_token %}
            {% if seccion1 %}
            <div class="prdsSection">
            {% else %}
            <div class="prdsSection visibleSection">
            {% endif %}
                <h4>Seleccione los productos que van en la nota de entrada</h4>
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#productos"
                    aria-expanded="false" aria-controls="productos">
                    Productos
                </button>
                <div class="collapse" id="productos">
                    {% for p in productos %}
                    <div class="form-check">
                        <input type="checkbox" name="{{p.prod_nombre}}" id="{{p.prod_id}}" value="{{ p.pro_id }}"
                            class="form-check-input">
                        <label for="{{p.prod_id}}" class="form-check-label">{{p.prod_nombre}}</label>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
                <br/> <br/>
                <button class="btn btn-primary" name="registrarBtn2">Siguiente</button>
                <br/>
                <label style="color: red;" for="">{{msg}}</label>
            </div>
            {% if seccion2 %}
            <div class="cantidadSection">
            {% else %}
            <div class="cantidadSection visibleSection">
            {% endif %}    
                <h4>Introduzca las cantidades de cada producto</h4>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Producto</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Cantidad</h4>
                    </div>
                </div>
                {% for p in plista %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="{{p.prod_nombre}}" value="{{p.prod_nombre}}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="{{p.prod_nombre}}C" class="form-control">
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <button class="btn btn-success" name="registrarNE">Registrar Nota de entrada</button>
                <br/>
                <label for="" style="color: red;">{{msg}}</label>
            </div>

        </form>
        <br/><br/>
        <a class="btn btn-light" href="{% url 'restaurant:gestionarNE' %}">Volver a notas de entrada</a>
        <br/><br/>
    </div>
</body>

</html>