{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver nota de salida</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/gestionarNS.css' %}">
</head>
<body>
    <div class="container">
        <br/><br/>
        <div class="card">
            <div class="card-header">
                <h1>Nota de salida</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Id:</h4>
                    </div>
                    <div class="col-md-6">
                        <label for="">{{ns.nots_id}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Usuario:</h4>
                    </div>
                    <div class="col-md-6">
                        <label for="">{{ns.usu.usu_nombre}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Almacen:</h4>
                    </div>
                    <div class="col-md-6">
                        <label for="">{{ns.alm.alm_nombre}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Fecha:</h4>
                    </div>
                    <div class="col-md-6">
                        <label for="">{{ns.nots_fecha}}</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Producto</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Cantidad</h4>
                    </div>
                </div>
                {% for d in detalle %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="">{{d.prod.prod_nombre}}</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">{{d.nsp_cantidad}}</label>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Producto</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Cantidad en stock para ventas</h4>
                    </div>
                </div>
                {% for s in stock %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="">{{s.cv.prod.prod_nombre}}</label>
                    </div>
                    <div class="col-md-6">
                        <label for="">{{s.sv_cantidad}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <a href="{% url 'restaurant:gestionarNS' %}" class="btn btn-secondary">Volver a notas de salida</a>
            </div>
        </div>
        <br/><br/>
    </div>
</body>
</html>