body{
    background-color: #595959;
}


.gbitacoraHeader{
    background-color: #808080;
    padding: 20px;
    color: #e6e6e6;
    margin-bottom: 50px;
    border-radius: 2%;
}

.gbitacoraBody{
    background-color: #d9d9d9;
    padding: 20px;
}