body{
    background-color: #595959;
}


.gconHeader{
    margin-top: 30px;
    background-color: #808080;
    padding: 20px;
    color: #e6e6e6;
    margin-bottom: 50px;
    border-radius: 2%;
}

.almacenSection{
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px;
}

.gconBody{
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px;
}

.visibleSection{
    visibility: hidden;
}