body{
    background-color: #595959;
}


.gncomprasHeader{
    margin-top: 30px;
    background-color: #808080;
    padding: 20px;
    color: #e6e6e6;
    margin-bottom: 50px;
    border-radius: 2%;
}

.gncomprasBody{
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px;
}


.ppSection{
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px;
}

.pdSection{
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px;
}

.fSection{
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px;
}

.visibleSection{
    visibility: hidden;
}